<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
<body>

    <div class="main-content">
        {{>header}}
        <p>This site was created by Ayush Thakur. 
            This is his first experience with node , so building this just for fun. 
            It uses data from mapbox.com to and weatherstack.com.
            </p>
        <img class="potrait" src="/img/me.jpeg">
    </div>

    <p> Source code 
        <a href="https://github.com/Ayushlm10/node-weather-server" target="_blank" rel="noopener noreferrer"> here </a>
        <br><br>
<a href="https://www.linkedin.com/in/ayush-thakur-54490516a/" target="_blank" rel="noopener noreferrer"> Want to connect? </a>
    </p>
    {{>footer}}
</body>
</html>